
<app-profile></app-profile>
<app-tasks (clickCategory)="onClickCategory($event)" [show]="showCategoriesScreen"></app-tasks>

<app-start-task
  *ngIf="showStartScreen && showingCategory"
  [show]="showStartScreen"
  (canRemove)="closeStartScreen()"
  [category]="showingCategory"></app-start-task>

<app-help
  *ngIf="showHelpScreen && showingCategory"
  [show]="showHelpScreen"
  (canRemove)="closeHelpScreen()"
  [category]="showingCategory"
></app-help>

<app-result
  *ngIf="showResultScreen && showingCategory"
  [show]="showResultScreen"
  (canRemove)="closeResultScreen()"
  [category]="showingCategory"
></app-result>
