<ng-container *ngIf="!nameEntered; else selectUserIcon">
  <div class="description">なまえをおしえてね</div>
  <input type="text" placeholder="なまえ" [(ngModel)]="name"/>
  <button class="enter-name-done" [disabled]="name === ''" (click)="onClickEnterNameDone()">なまえをきめたよ</button>
</ng-container>

<ng-template #selectUserIcon>
  <div class="description">{{ name }} さんだね</div>
  <div class="description">あいこんをきめてね</div>
  <div class="icons-wrapper">
    <div
      class="icon"
      *ngFor="let selectableIconUrl of selectableIconUrlList"
      [class.selected]="selectableIconUrl === iconUrl"
      (click)="onClickIcon(selectableIconUrl)"
      [style.backgroundImage]="'url(' + selectableIconUrl + ')'"
    ></div>
  </div>
  <button class="select-icon-done" [disabled]="iconUrl === ''" (click)="onClickSelectIconDone()">はじめる</button>
</ng-template>

