:host {
  display: block;
  position: fixed;
  top: 40%;
  left: 0;

  carousel {
    height: 60vh !important;
    width: 100vw;

    .carousel-cell {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: opacity var(--transition-time);
      opacity: 0.9;

      img {
        pointer-events: none;
      }

      &.center {
        .category-icon {
          width: 80%;
        }
        opacity: 1;
      }

      &.complete {
        opacity: 0.4;
      }

      .category-icon {
        aspect-ratio: 1 / 1;
        height: unset;
        width: 60%;
        transition: width var(--transition-time), transform var(--transition-time);
        transform: scale(0);

        &.show {
          transform: scale(1);
        }
      }

      &.center {
        .category-name {
          opacity: 1;
        }
      }

      .category-name {
        color: white;
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        opacity: 0;
        transition: opacity var(--transition-time);
        padding-top: 16px;
        transition: transform var(--transition-time);
        transform: scale(0);
        &.show {
          transform: scale(1);
        }
      }
    }
  }
}
