:host {
  display: block;
  position: fixed;
  top: 0;
  left: 0;

  carousel {
    height: 100vh !important;
    width: 100vw;

    .carousel-cell {
      .category-icon {
        aspect-ratio: 1 / 1;
        height: unset;
      }
    }
  }
}
