:host {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  z-index: 20;

  .relative-wrapper {
    position: relative;

    .backdrop {
      position: absolute;
      background-color: #98EE43;
      width: 100vw;
      height: 100vh;
      top: 100vh;
      left: 0;

      transition: top var(--transition-time);

      &.show {
        top: 0;
      }
    }

    .ui {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .mission-title {
        font-size: 40px;
        font-weight: bold;
        color: white;

        transform: scale(0);
        opacity: 0;
        transition: transform var(--transition-time), opacity var(--transition-time);

        padding: 32px 0;

        width: 80%;

        &.show {
          transform: scale(1);
          opacity: 1;
        }
      }

      .mame-area {
        font-size: 24px;
        font-weight: bold;
        color: #98EE43;
        background-color: white;
        border-radius: 16px;

        transform: scale(0);
        opacity: 0;
        transition: transform var(--transition-time), opacity var(--transition-time);
        padding: 8px 16px;

        &.show {
          transform: scale(1);
          opacity: 1;
        }

        .mame-label {
          .text {
            font-size: 16px;
          }
        }
      }

      .end-button {
        margin-top: 64px;
        border-radius: 16px;
        background-color: transparent;
        border-color: white;
        color: white;
        border: solid 4px white;
        font-size: 24px;
        font-weight: bold;

        height: 0;
        width: 0;
        opacity: 0;
        transition: width var(--transition-time), height var(--transition-time), opacity var(--transition-time);

        &.show {
          opacity: 1;
          height: 60px;
          width: 500px;
        }
      }
    }
  }
}
